*{
    margin: 0;
    padding:0;
    font-family: 'Open Sans Condensed', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-color: grey;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
}
nav img{
    width: 200px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li::after{
    content: ''; 
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.3s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
 width: 90%;
 color: #fff;
 position: absolute;
 top:  50%;
 left: 50%;
 transform: translate(-50%, -50%);
 text-align: center
}

.text-box h1 {
    font-size: 60px;
}

.text-box p{
 margin: 10px 0 40px;
 font-size: 30px;
 color: whitesmoke;
}


.link-THCP{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.link-THCP:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

nav .fa {
    display:none;
}

@media(max-width: 700px){
    .text-box h1 {
        font-size: 40px;
    }
@media(min-width: 400px) {
    
}

    
    .text-box p{
     font-size: 25px;
    }
    
    .nav-links ul li{
        display: block;
        overflow: hidden;
    }

    .nav-links{
        position: absolute;
        background: #720800;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa {
        display:block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul{
        padding: 30px;
    }
}

